* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
}

.page {
	margin: 0 auto;
	background-color: #D3D3D3;
}

.menu {
	height: 60px;
	background-color: #90EE90;
	text-align: right;
}

a {
	margin-right: 20px;
	padding-top: 90px;
	text-decoration: none;
	color: #696969;
}

.logo {
	height: 193.6px;
	background-color: white;
	overflow: hidden;
}

[alt='Logo'] {
	display: block;
	margin: 102px auto 0 auto;
}

.search {
	height: 160px;
	background-color: white;
	overflow: hidden;
}

form {
	width: 500px;
	height: 46px;
	border: 1px solid #5D6063;
	border-radius: 46px;
	background-color: white;
	margin: 26px auto;
}

input {
	display: block;
	width: 400px;
	height: 30px;
	margin: 7px auto;
	border: none; 
	font-size: 16px;
}

input:focus {
	outline: none;
}

form:hover {
	border: 1px groove #DCDCDC;
}

.footer {
	height: 244.6px;
	background-color: #3CB371;
}

.center {
	margin:0 auto;
}
