* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
}

.page {
	margin: 0 auto;
	background-color: #D3D3D3;
}

.menu {
	height: 60px;
	background-color: white;
	text-align: right;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: #000000DE;
}

a:hover {
	text-decoration: underline;
}

.logo {
	height: 193.6px;
	background-color: white;
	overflow: hidden;
}

[alt='Logo'] {
	display: block;
	margin: 102px auto 0 auto;
}

.search {
	height: 160px;
	background-color: white;
	overflow: hidden;
}

form {
	width: 500px;
	height: 46px;
	border: 1px solid #E3E3E3;
	border-radius: 46px;
	background-color: white;
	margin: 26px auto;
}

input {
	display: block;
	width: 400px;
	height: 30px;
	margin: 7px auto;
	border: none; 
	font-size: 16px;
}

input:focus {
	outline: none;
}

form:hover {
	box-shadow: 0 0 4px 2px #E3E3E3;
}

.footer {
	height: 244.6px;
	background-color: white;
}

.center {
	margin:0 auto;
}

svg {
	width: 20px;
	height: 20px;
	position: absolute;
	margin: 12px 0 0 14px;
}

.item {
	margin-right: 20px;
	font-size: 13px;
	color: red;
	display: inline;
}

.items {
margin: 10px 10px 0 0;
}	
