/* General settings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
}

.page {
	margin: 0 auto;
	background-color: white; 
}

/* Header */
.menu {
	height: 60px;
	background-color: white;
	text-align: right;
	overflow: hidden;
}

.menu-advanced {
    height: 60px;
    background-color: #f1f1f1;
}

.mini-logo {
    display: inline-block;
    background: url('mini_logo.png');
    width: 92px;
    height: 33px;
    background-size: 528px 68px;
    margin: 17px 0 0 15px;
    background-position: 0 -35px;
}

.item {
	margin-right: 14px;
	font-size: 13px;
	color: red;
	display: inline;
}

.right {
    float: right;
}

.items {
	margin: 21px 18px 0 0;
}

a {
	text-decoration: none;
	color: #000000DE;
}

a:hover {
	text-decoration: underline;
}

/* Advanced Session */
.advanced-head {
    color: #d93025;
    background-color: white;
    font-size: 20px;
    margin: 25px 35px;
}

.advanced-title {
}    

.break {
    background-color: white;
    border-bottom: 1px solid #ebebeb;
}

/* Logo session */
.logo {
	height: 193.2px;
	background-color: white;
	overflow: hidden;
	position: relative;
}

.image {
	background-size: 272px 92px;
	height: 92px;
	width: 272px;
	background: url("main_logo.png");
	position: absolute;
    bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
}

#image-search {
    bottom: 6px;
}

.logo-subtext {
	color: #4285f4;
	font-size: 16px roboto-regular, arial;
	position: relative;
	left: 215px;
	top: 76px;
}

/* Search session upper */
.search {
	height: 160px;
	background-color: white;
	overflow: hidden;
}

.search-box {
	width: 584px;
	height: 46px;
	border: 1px solid #E3E3E3;
	border-radius: 46px;
	background-color: white;
	margin: 26px auto;
}

#search-box-image {
    margin: 16px auto;
    width: 538px;
}

svg {
	width: 20px;
	height: 20px;
	position: absolute;
	margin: 12px 0 0 14px;
}

.search-box > input {
	display: block;
	width: 484px;
	height: 30px;
	margin: 7px auto;
	border: none; 
	font-size: 16px;
}

.search-box > input:focus {
	outline: none;
}

.search-box:hover {
	box-shadow: 0 0 4px 2px #E3E3E3;
}

/* Search session lower */
.center {
	width: 584px;
	margin: auto;
	text-align: center;
}

.center > input {
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	border-radius: 4px;
	color: #3c4043;
	font-family: arial, sans-serif;
	font-size: 14px;
	margin: 3px 4px;
	padding: 0 16px;
	line-height: 27px;
	height: 34px;
	text-align: center;
	cursor: pointer;
	user-select: none;
	outline: none;
}

.center > .button:hover {
	box-shadow: 0 0 1px 1px #D0D0D0;
}

.center > .button:active {
    border: 1px solid #6688FF;
    box-shadow: 0 0 0 0;
}

.center > .active {
    border: 1px solid #6688FF;
    box-shadow: 0 0 0 0;
}

#first {
	box-sizing: content-box;
	width: 6.7em;
}

#second {
	box-sizing: content-box;
	width: 7.8em;
}

/* Footer */
.footer {
	height: 244.6px;
	background-color: white;
}


