/* General settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.page {
    margin: 0 auto;
    background-color: white; 
}

/* Header */
.menu {
    height: 60px;
    background-color: white;
    text-align: right;
    overflow: hidden;
}

.item {
    margin-right: 14px;
    font-size: 13px;
    color: red;
    display: inline;
}

.items {
    margin: 21px 18px 0 0;
}

a {
    text-decoration: none;
    color: #000000DE;
}

a:hover {
    text-decoration: underline;
}

/* Advanced Session */

.menu-advanced {
    height: 60px;
    background-color: #f1f1f1;
}

.mini-logo {
    display: inline-block;
    background: url('mini_logo.png');
    width: 92px;
    height: 33px;
    background-size: 528px 68px;
    margin: 17px 0 0 15px;
    background-position: 0 -35px;
}

.advanced-head {
    color: #d93025;
    background-color: white;
    font-size: 20px;
    margin: 25px 35px;
}

.break {
    background-color: white;
    border-bottom: 1px solid #ebebeb;
}

.out-box {
    width: 96%;
    max-width: 1140px;
    min-width: 200px;
    margin: 40px 2% 0 45px;
}

.box1 {
    min-width: 167px;
    width: 16%;
    height: 42px;
    float: left;
    font-size: 13px;
    line-height: 16px;
}

.box11 {
    height: 30px;
    vertical-align: middle;
    display: table-cell;
}

.box2 {
    float: left;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.box31 {
    float: left;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
}

.box31-head {
    float: left;
    width: 33%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    vertical-align: middle;
}

@media (max-width: 1000px) {
    .box31-head {
        display: none;
    }
    .box31 {
        display: none;
    }
}

.box32-head {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.box32 {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.span-box3 {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre
}

.box2-button {
    box-sizing: content-box;
    float: left;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
    text-align: right;
}

#advanced-button {
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin: 10px 0;
    height: 30px;
    min-width: 120px;
    outline: 0;
    padding: 0 12px;
    color: white;
    background-color: #4d90fe;
    border: 1px solid #2f5bb7;
}

#advanced-button:active {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    background: #357ae8;
    border: 1px solid #2f5bb7;
}

#advanced-button:hover {
    border: 1px solid #2f5bb7;
    background-image: linear-gradient(#4d90fe,#4787ed);
    border-image: initial
}

.active {
    box-shadow: inset 0 0 0 1px #fff;    
}

.bigger-break {
    margin: 18px 0;
    clear: both;
    border-top: 1px solid #ebebeb;
}

.input-box {
    width: 100%;
    height: 29px;
    padding-right: 16px;
}

.input-box > input {
    box-sizing: content-box;
    width: 100%;
    height: 25px; 
    padding: 1px 8px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
}

.input-box > input:focus {
    outline: none;
    border: 1px solid #4d90fe;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.box2 > input:active {
    outline: none;
}

.clear {
    clear: both;
}

#txt1 {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
}

/* Logo session */
.logo {
    height: 193.2px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.logo-index {
    height: 203.2px;
}

.image {
    background-size: 272px 92px;
    height: 92px;
    width: 272px;
    background: url("main_logo.png");
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

#image-search {
    bottom: 5px;
}

.logo-subtext {
    color: #4285f4;
    font-size: 16px roboto-regular, arial;
    position: relative;
    left: 215px;
    top: 75px;
}

/* Search session upper */
.search {
    height: 160px;
    background-color: white;
    overflow: hidden;
}

.search-box {
    width: 584px;
    height: 46px;
    border: 1px solid #E3E3E3;
    border-radius: 46px;
    background-color: white;
    margin: 26px auto 0 auto;
}

.right {
    float: right;
}

#search-box-image {
    margin: 16px auto;
    width: 536px;
}

.left-svg {
    vertical-align: middle;
    display: inline-block;
    margin-left: 14px;
    height: 24px;
    width: 24px;
}

.left-svg > svg {
    width: 20px;
    height: 20px;
}

.search-box > input {
    display: inline-block;
    width: 300px;
    height: 30px;
    margin: 7px 2px;
    border: none; 
    font-size: 16px;
}

.search-box > input:focus {
    outline: none;
}

.search-box:hover {
    box-shadow: 0 0 4px 2px #E3E3E3;
}

.search-box > button {
    height: 44px;
    width: 44px;
    float: right;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    padding-right: 13px;
    margin-left: 8px;
}

.voice {
    box-sizing: content-box;
    float: right;
    background: transparent;
    cursor: pointer;
    align-items: center;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 34px;
}

.voice > svg {
    padding-top: 10px;
}

.right-svg {
    width: 24px;
    color: #4285f4;
    height: 24px;
    margin: auto;
}

.right-svg > span {
    line-height: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    width: 24px;
    fill: currentColor;
}

/* Search session lower */
.center {
    text-align: center;
    padding-top: 18px;
}

.center > input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    outline: none;
}

.center > .button:hover {
    box-shadow: 0 0 1px 1px #D0D0D0;
}

.center > .button:focus {
    border: 1px solid #6688FF;
    box-shadow: 0 0 0 0;
}

#first {
    width: 127.4px;
}

#second {
    width: 142.5px;
}

/* Footer */
.footer {
    height: 244.6px;
    background-color: white;
}


